.filter-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-width: 200px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 25px;
}

.card {
  flex: 0 1 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--white);
  border: 10px solid var(--twilight-indigo);
  box-sizing: border-box;
}

.brand {
  background-color: var(--twilight-indigo);
  text-align: center;
  margin: -2px;
  color: white;
}

.values {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  flex: 1;
}

.value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid var(--graphite);
}

.value p:first-child {
  font-weight: 600;
}

.value:last-child {
  border: none;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.tables {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 1228px) {
  .tables {
    flex-direction: column;
  }
}
